.wrapper {
    display: flex;
    align-items: center;
  }
.switch {
    position: relative;
    width: 60px; 
    height: 30px; 
    margin: 0;
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--toggle-bg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    transition: background-image .7s ease-in-out;
    outline: none;
    cursor: pointer;
    overflow: hidden;
  }
  
  .switch:checked {
    background-color: rgb(0, 195, 255);
    background-size: cover;
    transition: background-image 1s ease-in-out;
  }
  
  .switch:after {
    content: '';
    width: 26px; 
    height: 26px; 
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 2px;
    top: 2px;
    transform: translateX(0px);
    animation: off .7s forwards cubic-bezier(.8, .5, .2, 1.4);
    box-shadow: inset 5px -5px 4px rgba(53, 53, 53, 0.3);
  }
  
  @keyframes off {
    0% {
        transform: translateX(30px); 
        width: 26px;
      }
    
      50% {
        width: 40px;
        border-radius: 20px;
      }
    
      100% {
        transform: translateX(0px);
        width: 26px;
      }
  }
  
  .switch:checked:after {
    animation: on .7s forwards cubic-bezier(.8, .5, .2, 1.4);
    box-shadow: inset -5px -5px 4px rgba(53, 53, 53, 0.3);
  }
  
  @keyframes on {
    0% {
        transform: translateX(0px);
        width: 26px;
      }
    
      50% {
        width: 40px;
        border-radius: 20px;
      }
    
      100% {
        transform: translateX(30px);
        width: 26px;
      }
  }
  
  .switch:checked:before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 5px;
    transform-origin: 33px 5px;
    background-color: transparent;
    box-shadow: 5px -1px 0px #fff;
    filter: blur(0px);
    animation: sun .7s forwards ease;
  }
  
  @keyframes sun {
    0% {
      transform: rotate(170deg);
      background-color: transparent;
      box-shadow: 5px -1px 0px #fff;
      filter: blur(0px);
    }
  
    50% {
      background-color: transparent;
      box-shadow: 5px -1px 0px #fff;
      filter: blur(0px);
    }
  
    90% {
      background-color: #f5daaa;
      box-shadow: 0px 0px 10px #f5deb4,
      0px 0px 20px #f5deb4,
      0px 0px 30px #f5deb4,
       inset 0px 0px 2px #efd3a3;
      filter: blur(1px);
    }
  
    100% {
      transform: rotate(0deg);
      background-color: #f5daaa;
      box-shadow: 0px 0px 10px #f5deb4,
      0px 0px 20px #f5deb4,
      0px 0px 30px #f5deb4,
       inset 0px 0px 2px #efd3a3;
      filter: blur(1px);
    }
  }
  
  .switch:before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 5px;
    filter: blur(1px);
    background-color: #f5daaa;
    box-shadow: 0px 0px 10px #f5deb4,
                0px 0px 20px #f5deb4,
                0px 0px 30px #f5deb4,
                inset 0px 0px 2px #efd3a3;
    transform-origin: 33px 5px;
    animation: moon .7s forwards ease;
  }
  
  @keyframes moon {
    0% {
      transform: rotate(0deg);
      filter: blur(1px);
    }
  
    50% {
      filter: blur(1px);
    }
  
    90% {
      background-color: transparent;
      box-shadow: 5px -1px 0px #fff;
      filter: blur(0px);
    }
  
    100% {
      transform: rotate(170deg);
      background-color: transparent;
      box-shadow: 5px -1px 0px #fff;
      filter: blur(0px);
    }
  }
  