.about-me {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    background: var(--background-main-dark);
  }
  
  .about-me-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--component-bg-dark);
    color: var(--text-main-dark);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
    max-width: 900px;
    width: 100%;
    }
    
    .profile-section {
      flex: 1;
      margin-right: 20px;
      }
      
    .profile-section img.avatar {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.600);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .profile-section h2 {
    margin-top: 20px;
    font-size: 24px;
  }
  
  .profile-section p {
    margin-top: 10px;
    font-size: 16px;
  }
  
  .profile-section a {
    margin: 0 5px;
    color: #1db9a0;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .profile-section a:hover {
    color: #4d94c4;
  }
  
  .profile-section .description {
    margin-top: 15px;
    font-size: 16px;
    color: #FFF;
  }
  
  .education-section {
    flex: 1;
    margin-left: 20px;
  }
  
  .education-section h3 {
    margin-bottom: 20px;
    font-size: 22px;
    color: #1db9a0;
  }
  
  .education-section ul {
    list-style: none;
    padding: 0;
  }
  
  .education-section ul li {
    margin-bottom: 15px;
    font-size: 16px;
    color: #FFF;
  }
  
  .education-section ul li strong {
    color: #4d94c4;
  }
  @media (max-width: 768px) {
    .about-me-content {
      flex-direction: column;
      padding: 20px;
    }
  
    .profile-section {
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .education-section {
      margin-left: 0;
    }
  }
  
  @media (max-width: 480px) {
    .profile-section h2 {
      font-size: 20px;
    }
  
    .profile-section p, .profile-section .description, .education-section ul li {
      font-size: 14px;
    }
  
    .education-section h3 {
      font-size: 18px;
    }
  }