.hero {
  height: 100vh;
  background: var(--background-main-dark);
  background-size: 65%;
  background-position: 105% center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color: var(--text-main-dark); */
  color: var(--link-hover-light);
  text-align: center;
  position: relative;
  z-index: 1;
}
.hero h1 {
  display: flex;
  font-size: 4rem;
  margin-bottom: 0.5rem;
  align-self: flex-start;
  margin-left: 20px;
}

.hero h2 {
  display: flex;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  align-self: flex-start;
  margin-left: 100px;
}

.hero .buttons {
  display: flex;
  gap: 1rem;
  margin-left: 60px;
}

.hero button,
.hero a {
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 5px;
  background: none;
  color: white;
  transition: background 0.3s, color 0.3s;
}

.hero button:hover,
.hero a:hover {
  background: white;
  color: #333;
}

@media (max-width: 768px) {
  .hero {
    padding: 1rem;
  }
  .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
  } 

  .hero h1 {
    font-size: 2.5rem;
    margin-left: 0;
  }

  .hero h2 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .hero .buttons {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    gap: 0.5rem;
  }

  .hero button,
  .hero a {
    width: 80%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 2rem;
  }

  .hero h2 {
    font-size: 1.2rem;
  }

  .hero button,
  .hero a {
    width: 80%;
  }
}
 